<div class="event-photo buffer-bottom col-lg-3 col-sm-12 img-fluid">
  <% image_title = "От #{render partial: 'users/user', object: photo.user}" %>
  <% if photo.user == current_user %>
    <% image_footer = "#{link_to(
        fa_icon('trash'), event_photo_path(photo.event, photo), method: :delete, data: {confirm: t('controllers.photos.destroy_confirm')})}" %>
  <% end %>
  <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url, data: {
      toggle: 'lightbox', title: image_title, gallery: 'event-photos', footer: image_footer
  } %>
</div>

